body{
    margin: 0px;
    padding: 0;
    min-height: 70vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "consolas";
}

.container{
    /*top: 80px;*/
    width: 1200px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

header{
    background-color: #333;
    padding: 10px;
    position: absolute;
    height: 5%;
    width: 100%;
}

.btn-abrir{
    color: white;
    font-size: 25px;
}

nav{
    height: 35%;
    width: 0;
    background: #333;
    position: fixed;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

nav a{
    color: white;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px;
}

nav a:hover{
    color: #333;
    background: white;
}

.tit{
    position: absolute;
    font-size: 22px;
    color: #fff;
    justify-content: center;
    align-items: center; /**/
    margin-top: 45px;
    left: 28%;
}

.container .card{
    position: relative;
    margin-top: 110px;
}

.container .card.img4 {
    position: absolute;
    margin-top: 700px;
    margin-left: 19%;
}

.container .card.img5 {
    position: absolute;
    margin-top: 700px;
    margin-left: 58%;
}

.container .card .face{
    width: 350px;
    height: 300px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card.img1:hover .face.face1{
    background:#FF7F50;
    transform: translateY(0);
}

.container .card.img2:hover .face.face1{
    background: #9370DB;
    transform: translateY(0);
}

.container .card.img3:hover .face.face1{
    background: #CD661D;
    transform: translateY(0);
}

.container .card.img4:hover .face.face1{
    background: #FBC02D;
    transform: translateY(0);
}

.container .card.img5:hover .face.face1{
    background: #388E3C;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    filter: invert(100%); /*Inverte as cores, baseado em porcentagem*/
    height: 100px;
    max-width: 100px;
    padding-left: 35px;
}

.container .card .face.face1 .content h3{
    margin: 30px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    height: 300px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-200px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

.bandeira{
    width: 60px;
    height: 40px;
    padding-left: 130px;
}